################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EneterSecureRemotePassword/.vs/EneterSecureRemotePassword
/EneterSecureRemotePassword/Eneter.SecureRemotePassword/bin/Standard20/Debug
/EneterSecureRemotePassword/Eneter.SecureRemotePassword/obj
